@import './../../style/definition';

.main-category-tab {
    font-size: 22px;
    text-align: center;
    height: 5vh;
    line-height: 5vh;
    padding:0.5vh 0.5vw;
    cursor: pointer;
    background-color: $GRAY_1;
    &:hover {
        background-color: $GRAY_2;
    }
}