.main-container {
  display:flex;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  flex: 0.15;
}

.main-content-container {
  display: flex;
  flex-direction: column;
  flex:0.85;
}

// .content-container {
//   padding: 0 5%;
//   display: inline-block;
// }
