// .book-card-small, .summary-card-small {
//     margin: 1vw 2vw;
//     width:30vw;
//     height:35vh;
//     background-color: #ccc;
//     display:inline-block;
// }

.main-category-tab {
    font-size: 20px;
    width: 15vw;
    text-align: center;
    height: 3vh;
    line-height: 3vh;
}